<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.itwill.mapper.PurchaseMapper">

<!--구매품의서 생성 -->
<insert id="insertPurchase">
<selectKey resultType="int" keyProperty="draftNo" order="BEFORE">
			select purchase_seq.nextval from dual
		</selectKey>


insert into purchase values(#{draftNo},#{empNo},#{writer},
		sysdate,#{purchaseTitle},#{deptRequest},#{purchaseLimit},#{purchaseItem },#{purchaseSize},#{purchaseVolume },
		#{purchaseCost},#{purchasePrice},#{payMethod }
		,#{purchaseAll},#{purchaseMemo},
		#{signerOne},0,#{signerTwo},0,#{signerThree},0,1)


</insert>
<!-- 구매품의서 전체 출력 -->
<select id="selectPurchase" resultType="PurchaseDTO">


	select * from purchase where emp_no=#{empNo} order by draft_no desc
	</select>
	
	<!-- 상세페이지 출력 -->
		<select id="selectPurchaseTest" resultType="PurchaseDTO">
		select * from purchase where draft_no=#{draftNo}
	</select>



		<select id="approve1" resultType="PurchaseDTO">

		select * from purchase where (signer_three=#{empNo} and approve=1) 
		or (signer_two=#{empNo} and approve=2) 
		or (signer_one=#{empNo} and approve=3)
		order by draft_no desc 
	</select>
	
	
	<!--반려결재함 -->
	<select id="reject" resultType="PurchaseDTO">

		select * from purchase where approve=0 and emp_no=#{empNo} order by draft_no desc 
	</select>
	
	
	
	
	
	<!-- 결재  -->
<update id="updateSignerOne">
update purchase 
set approve=
case
when approve=1 
then 2
when approve=2 
then 3
when approve=3
then 4
end
where draft_no=#{draftNo}	</update>


	<!-- 반려 -->
<update id="updateApproveReturn">
   update purchase 
set approve=
case
when approve=1 and approve!=2 and approve!=3 and approve!=4
then 0
when approve=2 and approve!=3 and approve!=4 and approve!=4
then 0
when approve=3 and approve!=1 and approve!=2 and approve!=4
then 0
end
where draft_no=#{draftNo}
   </update>




</mapper>